@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab');

body{
    background-color: #fffdf0;
    font-family: 'Zilla Slab';
    background-image: url('assets/papertexture.jpg');
}

.content, .menu, .social-link{
    padding: 20px;
    border: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 7px;
    background-color: #e6e6e6;
    box-shadow: 0px 0px 7px 0px #333333;
    margin-bottom: 20px;
    overflow: hidden;
}

.content, .menu{
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

@media screen and (max-width: 640px) {
    .content, .menu {
      width: 90%;
    }
}

.social-link{
    text-align: center;
    font-size: 125%;
}

.menu a{
    font-size: 125%;
    font-variant: small-caps;
}

a{
    color: #4747f1;
}

a:visited{
    color: #4747f1;
}

.flex-container{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.links-flex-container{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.portfolio-flex-container{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item img{
    max-width: 100%;
}

.portfolio-item p{
    font-weight: bold;
    line-height-step: 0.5;
}

.portfolio-item{
    width: 16%;
    padding: 20px;
    margin: 10px;
    border: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 0px #333333;
}

.title{
    text-align: center;
    padding-bottom: 25px;
    line-height: 100%;
}

.title h1{
    line-height: 100%;
}

h1{
    font-size: 400%;
}

p{
    line-height: 150%;
    font-size: 110%;
    color: #333333;
}

#contact{
    text-align: center;
}
