@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab');

#homeimg{
    float: left;
    width: 25%;
    padding: 15px;
}

body{
    padding-left: 30%;
    padding-right: 30%;
    background-color: #fffdf0;
    font-family: 'Zilla Slab';
}

.content{
    padding: 20px;
    border: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 7px;
}

.title{
    text-align: center;
    padding-bottom: 25px;

}

.text{
    line-height: 1.5;
}